### Python (Basic programing) Assignment No. 19
1 Batch - Full Stack Data Science Bootcamp 2.0

2 Name - **Prerit Sharma**

3 Email ID - **praritsharma7@gmail.com**



---

###Q1 Create a function that takes a string and returns a string in which each character is repeated once.

Examples

double_char(&quot;String&quot;) ➞ &quot;SSttrriinngg&quot;

double_char(&quot;Hello World!&quot;) ➞ &quot;HHeelllloo WWoorrlldd!!&quot;

double_char(&quot;1234!_ &quot;) ➞ &quot;11223344!!__ &quot;

###Ans.

In [1]:
def double_char(in_string):
    out_string = ' '
    for i in in_string:
        out_string += i*2
    return out_string

for i in range(3):
    in_string = input('Enter a string: ')
    print(f'{in_string} ➞ {double_char(in_string)}')

Enter a string:  String
 String ➞    SSttrriinngg
Enter a string: Hello World!
Hello World! ➞  HHeelllloo  WWoorrlldd!!
Enter a string: 1234!_
1234!_ ➞  11223344!!__



---

###Q2 Create a function that reverses a boolean value and returns the string &quot;boolean expected&quot; if another variable type is given.

Examples

reverse(True) ➞ False

reverse(False) ➞ True

reverse(0) ➞ &quot;boolean expected&quot;

reverse(None) ➞ &quot;boolean expected&quot;

###Ans.

In [2]:
def reverse(in_bool):
    if type(in_bool) == bool:
        return not in_bool
    else:
        return "Boolean Expected"

print(f'reverse(True) ➞ {reverse(True)}')
print(f'reverse(False) ➞ {reverse(False)}')
print(f'reverse(0) ➞ {reverse(0)}')
print(f'reverse(None) ➞ {reverse(None)}')

reverse(True) ➞ False
reverse(False) ➞ True
reverse(0) ➞ Boolean Expected
reverse(None) ➞ Boolean Expected



---

###Q3 Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.
Examples
num_layers(1) ➞ &quot;0.001m&quot;
# Paper folded once is 1mm (equal to 0.001m)
num_layers(4) ➞ &quot;0.008m&quot;
# Paper folded 4 times is 8mm (equal to 0.008m)
num_layers(21) ➞ &quot;1048.576m&quot;
# Paper folded 21 times is 1048576mm (equal to 1048.576m)

###Ans.

In [3]:
def num_layers(num):
    out_num = 0.5
    for i in range(num):
        out_num *= 2
    return out_num

for j in range(3):
    num = int(input('Enter a number:'))
    out_num = 0.5
    print(f'Paper folded {num} times is {num_layers(num)}mm ➞ {out_num/1000}m')

Enter a number:1
Paper folded 1 times is 1.0mm ➞ 0.0005m
Enter a number:4
Paper folded 4 times is 8.0mm ➞ 0.0005m
Enter a number:21
Paper folded 21 times is 1048576.0mm ➞ 0.0005m



---

###Q4 Create a function that takes a single string as argument and returns an ordered list containing the indices of all capital letters in the string.

Examples


index_of_caps(&quot;eDaBiT&quot;) ➞ [1, 3, 5]

index_of_caps(&quot;eQuINoX&quot;) ➞ [1, 3, 4, 6]

index_of_caps(&quot;determine&quot;) ➞ []

index_of_caps(&quot;STRIKE&quot;) ➞ [0, 1, 2, 3, 4, 5]

index_of_caps(&quot;sUn&quot;) ➞ [1]

###Ans.

In [4]:
def index_of_caps(in_string):
    out_string = []
    for i in in_string:
        if i.isupper():
            out_string.append(in_string.index(i))

    print(f'{in_string} ➞ {out_string}')

index_of_caps("eDaBiT")
index_of_caps("eQuINoX")
index_of_caps("determine")
index_of_caps("STRIKE")
index_of_caps("sUn")

eDaBiT ➞ [1, 3, 5]
eQuINoX ➞ [1, 3, 4, 6]
determine ➞ []
STRIKE ➞ [0, 1, 2, 3, 4, 5]
sUn ➞ [1]



---

###Q5 Using list comprehensions, create a function that finds all even numbers from 1 to the given number.


Examples

find_even_nums(8) ➞ [2, 4, 6, 8]

find_even_nums(4) ➞ [2, 4]

find_even_nums(2) ➞ [2]

###Ans.

In [5]:
def find_even_nums(in_num):
    out_list = []
    for i in range(1,in_num+1):
        if i%2 == 0:
            out_list.append(i)
    print(f'Output ➞ {out_list}')

find_even_nums(8)
find_even_nums(4)
find_even_nums(2)

Output ➞ [2, 4, 6, 8]
Output ➞ [2, 4]
Output ➞ [2]



--------------------------------------------------------------------------------------------------------------------------------------End------------------------------------------------------