### Python (Advance) Assignment No. 02

1 Batch - Full Stack Data Science Bootcamp 2.0

2 Name - **Prerit Sharma**

3 Email ID - **praritsharma7@gmail.com**

###Q 1. Write a Python program to convert kilometers to miles?

###Ans.

In [ ]:
#convert kilometers to miles

kilometers = float(input("Enter value in kilometers: "))
conversion_factor = 0.621
miles = kilometers*conversion_factor
print("%0.2f kilometers is equal to %0.2f miles" %(kilometers, miles))

Enter value in kilometers: 7
7.00 kilometers is equal to 4.35 miles



---

###Q 2. Write a Python program to convert Celsius to Fahrenheit?

###Ans.

In [ ]:
#Convert Celsius to Fahrenheit
celsius = float(input("Enter temperature in celcius:"))
fahr = (celsius*9/5)+32
print("Temperature in Fahrenheit is: ", fahr)

Enter temperature in celcius:39
Temperature in Fahrenheit is:  102.2



---

###Q3. Write a Python program to display calendar?

###Ans.

In [ ]:
import calendar
def showcalender():
  year=int(input("enter calender year:"))
  print(calendar.calendar(year))

showcalender()

enter calender year:2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31



---

###Q 4. Write a Python program to solve quadratic equation?

###Ans.

In [9]:
import cmath
import math

def quadarticEquationRoots(a,b,c):

    discriminant = b*b-4*a*c

    if discriminant == 0:
        ans1 = -b/2*a
        ans2 = -b/2*a
        print("Roots are Real",ans1,ans2)
    elif discriminant > 0:
        ans1 = (-b-math.sqrt(discriminant))/(2 * a)
        ans2 = (-b+math.sqrt(discriminant))/(2 * a)
        print("Roots are Real and different",ans1,ans2)
    else:
        ans1 = (-b-cmath.sqrt(discriminant))/(2 * a)
        ans2 = (-b+cmath.sqrt(discriminant))/(2 * a)
        print("Roots are Imaginary",ans1,ans2)

In [10]:
quadarticEquationRoots(3,5,2)

Roots are Real and different -1.0 -0.6666666666666666



---

###Q 5. Write a Python program to swap two variables without temp variable?

###Ans.

In [11]:
a=10
b=20

print('Before Swapping')
print("Value of a:",a,"Value of b:",b)

a,b=b,a

print('After Swapping')
print("Value of a:",a,"Value of b:",b)

Before Swapping
Value of a: 10 Value of b: 20
After Swapping
Value of a: 20 Value of b: 10

----------------------------------------------------------------End--------------------------------------------------------------------------------------