### Python (Basic programing) Assignment No.23
1 Batch - Full Stack Data Science Bootcamp 2.0

2 Name - **Prerit Sharma**

3 Email ID - **praritsharma7@gmail.com**



---

###Q1 Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

###Ans.

In [ ]:
def is_symmetrical(num):
    if str(num) == str(num)[::-1]:
        print(f'{num} ➞ {True}')
    else:
        print(f'{num} ➞ {False}')

for i in range(5):
    num = input('Enter a number')
    is_symmetrical(num)

Enter a number7227
7227 ➞ True
Enter a number12567
12567 ➞ False
Enter a number44444444
44444444 ➞ True
Enter a number9939
9939 ➞ False
Enter a number1112111
1112111 ➞ True



---

###Q2 Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

###Ans.

In [ ]:
def multiply_nums(in_string):
    out_string = in_string.replace(' ','').split(',')
    out_num = 1
    for i in out_string:
        out_num *= int(i)
    print(f'{out_string} ➞ {out_num}')

multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

['2', '3'] ➞ 6
['1', '2', '3', '4'] ➞ 24
['54', '75', '453', '0'] ➞ 0
['10', '-2'] ➞ -20



---

###Q3 Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

###Ans.

In [1]:
def square_digits(num):
    list = [str(int(i)**2) for i in str(num)]
    out_list = ''.join(list)
    print(f'{num} ➞ {int(out_list)}')


square_digits(9119)
square_digits(2483)
square_digits(3212)

9119 ➞ 811181
2483 ➞ 416649
3212 ➞ 9414



---

###Q4 Create a function that sorts a list and removes all duplicate items from it.


Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

###Ans.

In [2]:
def setify(list):
    out_list = sorted(set(list))
    print(f'setify{list} ➞ {out_list}')

setify([1, 3, 3, 5, 5])
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

setify[1, 3, 3, 5, 5] ➞ [1, 3, 5]
setify[4, 4, 4, 4] ➞ [4]
setify[5, 7, 8, 9, 10, 15] ➞ [5, 7, 8, 9, 10, 15]
setify[3, 3, 3, 2, 1] ➞ [1, 2, 3]



---

###Q5 Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

###Ans.

In [3]:
def mean(num):
    list = [int(i) for i in str(num)]
    out_num = sum(list)/len(str(num))
    print(f'Mean of {num} ➞ {out_num:.0f}')

mean(42)
mean(12345)
mean(666)

Mean of 42 ➞ 3
Mean of 12345 ➞ 3
Mean of 666 ➞ 6



---------------------------------------------------------------------------------------------------------------------------------------End------------------------------------------------------------------------------------------